body 
{ 
    padding-top: 60px;
}

li a#logout:hover{
    background-color: rgb(217, 83, 79);
    color: white;
    font-weight: bold;
}

#fromdatepicker,#todatepicker {
    background: white url(../images/calendar_icon.png) right no-repeat;
    padding-right: 17px;
}

/*.navbar-toggle .icon-bar
{
    background: black;
}

ul.nav.navbar-nav.navbar-right
{
     background: #eee; 
}

.navbar-inner 
{
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a 
{
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}*/