body { 
    padding-top: 60px;
}

#logout:hover {
    background-color: rgb(201, 48, 44);
    color: white;
    font-weight: bold;
}

#fromdatepicker,#todatepicker {
    background: white url(../images/calendar_icon.png) right no-repeat;
    padding-right: 17px;
}

div.col-xs-4 {
    padding: 0;
}

#divInital {
    display:none;
}

button.btn.btn-default, a.btn.btn-default {
    height: 34px;
}