body 
{ 
    padding-top: 40px;
}

.navbar-toggle .icon-bar
{
    background: black;
}

ul.nav.navbar-nav.navbar-right
{
     background: #eee; 
}

.navbar-inner 
{
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a 
{
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}